@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #405166, #656f6f );
}

h1 {
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title {
  display: block;
  text-align: center;
  color: #EE6352;
}

.form_style{
  display: block;
  margin-top: 20px;
  margin-left: 5px;
  color: white;
}

#game_option{
  margin-left: 2px;
}


#emulator_screen{
  float:left;
  margin-right: 10px;
  border: 1px solid black;
  background-color: white;
}
#visualiser_screen{

  background-color: white;
  width: 300px;


}
.input_button{
  display: block;
  clear: left;
  margin-top: 10px;
}
