@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  font-family: Monospace, Lucida Sans Unicode, Arial;
  background: linear-gradient(to bottom, #343a4c, #212533);
  color: #c6c6c6;
}

.container {
	width: 100%;
	padding-top: 0px;
	border: 2px solid #4c4c4c;
}

.emuLink {
	float:bottom;
	color: #FFFFFF;
}

h1 {
  font-size: 42px;
  margin: auto;
  text-align: center;
  line-height: 47px;
  letter-spacing: 2px;
}

h2 {
    font-size: 20px;
}

.buttonTable {
    margin: auto;
}

.binTable {
    padding-right: 50px;
}

.HexTable {
    padding-right: 50px;
}

.button {
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
